<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>save new student</title>
</head>
<style>
  body{
    background-image: url("https://i.pinimg.com/originals/29/13/4f/29134f62ecd1a9217fd10148beb01cba.jpg");
  }
</style>
<body>
<h2>Save new student</h2>
<form action="#"
      th:action="@{'/api/students/save/' + ${groupId}}"
      method="post"
      th:object="${emptyStudent}">

  <input type="hidden" th:field="${emptyStudent.id}">

  <label for="firstName">First Name</label>
  <input id="firstName" th:field="${emptyStudent.firstName}" placeholder="firstName">
  <br><br>
  <label for="lastName">lastName</label>
  <input id="lastName" th:field="${emptyStudent.lastName}" placeholder="lastName">
  <br><br>
  <label for="email">Email</label>
  <input id="email" type="email" th:field="${emptyStudent.email}" placeholder="xxxxxxxx@gmail.com">
  <br><br>
  <label>Select study format: </label>
  <select name="studyFormat">
    <option th:each="studyFormat : ${T(peaksoft.enums.StudyFormat).values()}"
            th:value="${studyFormat}" th:text="${studyFormat}"></option>
  </select>
<!--  <label for="studyFormat">Study Format</label>-->
<!--  <input id="studyFormat"  th:field="${emptyStudent.studyFormat}" placeholder="studyFormat">-->
  <br><br>
  <button type="submit">Save</button>
</form>
</body>
</html>